/* style.css */
*{
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  section {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  